{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "4ee792f3044589c96b019c2a86db9b23f1b283ab"}
        amjil/mongol-virtual-keyboard
        {;:git/url "https://github.com/amjil/mongol-virtual-keyboard.git"
         ;:sha "bb83ef01b9610053e8529c453b102db74a40b5a7"
         :local/root "../m-v-k"
         }

        amjil/mgl-components
        {;:git/url "https://github.com/amjil/mgl-components.git"
         ;:sha "78533d0e93713a7fe8818bebba630be1f65554a1"
         :local/root "../mgl-components"
         }
        amjil/horizontal-pull-to-refresh
        {:git/url "https://github.com/amjil/horizontal-pull-to-refresh.git"
         :sha "78533d0e93713a7fe8818bebba630be1f65554a1"}}

 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main main}}
